.welcoming{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    padding: 85px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.decoration{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    gap: 10px;
}
.dots{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--light);
}
.sup-g{
    font-size: 1.5em;
}
.name{
    font-size: 3em;
    letter-spacing: 5px;
}

.wc-svg{
    width: 90%;
    margin-bottom: 30px;
    display: none;
}
.social-media-side{
    padding-top: 10px;
    width: 250px;
    display: flex;
    gap: 5px;
}
.sm-perk{
    font-size: 2em;
}

.download-porto{
    margin-top: 10px;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.dporto-t{
    letter-spacing: 2px;
    font-size: 1.2em;
}

.auto-resize{
    width: 100vw;
    max-width: 100vw;
}

.base-align{
    width: 100vw;
    max-width:100%;
    padding: 50px 10px 10px 10px;
}
.hastag{
    margin-right: 10px;
}
.title-text{
    font-size: 2em;
    padding-bottom: 20px;
}
.main-text{
    font-weight: 400;
    font-size: 1.1em;
    padding-bottom: 20px;
}

.tech-stack{
    width: 100;
}

.tech-stack-content{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    justify-content: center;
}

.ts-card{
    max-width: 200px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background: -webkit-linear-gradient(45deg, var(--purple), #00ff95);
    box-shadow: var(--light-black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ts-main {
    width: 90%;
    height: 90%;
    background: var(--black);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ts-image{
    width: 70%;
    height: 70%;
}
@media screen and (min-width: 682px) {
    .tech-stack-content{
        justify-content: flex-start;
    }
    .welcoming{
        flex-direction: row-reverse;
        justify-content: center;
        gap: 70px;
    }
    .wc-svg{
        width: 300px;
        display: inline-block;
    }
}
@media screen and (min-width: 900px) {
    .welcoming{
        gap: 150px;
    }
    .base-align{
        width: 900px;
        margin: 0 auto;
    }
}
@media screen and (min-height: 768px){
    .welcoming{
        height: 768px;
    }
}